:root {
	--aw-color-red: #EA5455;
    --aw-color-green: #199B69;
    --aw-color-dark-red: #643944;
    --aw-color-dark-blue: #1A3A6A;
    --aw-color-dark-green: #10554C;
    --aw-color-bg-light: #F5F3EE;
    --aw-color-bg-lighter: #FAF8F5;
    --aw-color-bg-lightest: #FDFCFB;
    --aw-color-text-dark: #181f31;
    --aw-color-text-darker: #141A29;
	--aw-color-blue: #3457B5;
}