:root, * {
    font-family:Arial, Helvetica, sans-serif;  
}

.bg-color, .gradio-container {
    background-color: var(--aw-color-bg-light);
}

.main-container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    
}

.fact-checker-container {
    max-width: 1200px;
    background-color: var(--aw-color-bg-lightest);
    border-width: 0.1rem;
    border-color: var(--aw-color-red);
    border-radius: 0.5rem;
    
}

.confirm-btn {
    font-size: 1rem;
	background: var(--aw-color-red);
    border-radius: 9999px;
    padding: .7rem 3rem .7rem 3rem;
    width: 20rem; 
}

.learn-more-btn {
    font-size: 1rem;
	background: rgb(229, 229, 229);
    border-radius: 9999px;
    border-width: .1rem;
    border-color: rgb(183, 183, 183);
    padding: .7rem 3rem .7rem 3rem;
    width: 20rem;
}

/* .confirm-btn font color */
.secondary.svelte-xzq5jh {
    color: var(--aw-color-bg-lightest);
}

h1 {
    font-size: 3.75rem;
    text-align: center;
}

h2 {
    font-size: 2.25rem;
    text-align: 2.5rem;
}

h4 {    
    font-size: 1.1rem;
    line-height: 2.5rem;
}

h3 {    
    font-size: 1.25rem;
    line-height: 2.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.claim-card {
    padding: 2rem;
    align-items: center;
}

.claim-text-area {
    min-height: 10vh;
    border: 0;

    /* background: var(--aw-color-bg-lightest) */
}



.btn-group, div.svelte-1p9262q, element.style {
    background: none;
    border: none;
    gap: .3rem;
    align-items: center;
}

.result-card {
    padding: 1rem 1.8rem 1rem 1.3rem;
    box-shadow: .1rem .2rem .4rem rgba(20, 26, 41, 0.3);
    border-radius: .5rem;
}


.pill-evidence{
    border-width: .15rem;
    padding: .2rem .65rem ;
    border-radius: 9999px;
    border-color: var(--aw-color-green);
    background: var(--aw-color-bg-lightest);
    margin: .1rem;
    font-weight:100;
    position: relative;
    top: .2rem;
}

h2 i {
    position: relative;
    top: -.5rem;
    left: 1rem; 
    font-size: 1rem;
    background-color: var(--aw-color-red);
    color: white;
    border-radius: 9999px;
    padding: .7rem 3rem .7rem 3rem;
    width: 20rem; 
    font-size: 1.2rem;
}